<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/common/meyer.css">
  <link rel="stylesheet" href="/css/pe/layout.css">
  <title>Document</title>
</head>
<body>
  <div class="footer-menu">
    <menu>
      <ul>
        <li>首页</li>
        <li>手册</li>
        <li>博客</li>
        <li>视频</li>
        <li>资源</li>
      </ul>
    </menu>
  </div>
  {% block content %} {% endblock %} {% block js %} {% endblock %}
  <script src="/js/jquery.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/flexible.js"></script>
</body>
</html>