{% extends "./layout.html" %}
{% block content %}
<!-- <link rel="stylesheet" href="/css/pc/index.css"> -->
<link rel="stylesheet" href="/css/pc/blogContent.css">
<link rel="stylesheet" href="/css/common/swiper-bundle.min.css">
<div class="content">
    <div class="data">
      <div class="blogContent">
        <div class="content-title">
          {{blog.title}}
        </div>
        <div class="content-time">
         编写于 {{blog.createdAt}}
        </div>
        <div class="content-body">
          {{blog.html_text | safe}}
        </div>
      </div>
    </div>
    <aside class="aside">
      <!-- 轮播图 -->
      <div class="swiper">
          <div class="img-list">
            <img src=".././img/1.jpg">
            <img src=".././img/2.jpg">
            <img src=".././img/3.jpg">
          </div>
          <div class="swiper-index">
            <ul>
              <li class="active"></li>
              <li></li>
              <li></li>
            </ul>
          </div>
      </div>
      <!-- 推荐博客 -->
      <div class="recommend-blog">
        <div class="recommend-title">
          <h3>
            推荐博客
          </h3>
        </div>
        <div class="blog-list">
          <ul>
            {% for item in blogList %}
            <li>
              <a href="/blogContent/{{item.id}}">
                {{ item.title }}
                <img src=".././img/readCountWhite.png" alt="">
                <span class="num">
                  1024
                </span>
              </a>
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </aside>
</div>
<script src="/js/jquery.js"></script>
<script src="/js/swiper-bundle.min.js"></script>
<script>
var index = 0
$('li').click(function(){
  index = $(this).index()
  $(this).addClass('active')
  $(this).siblings().removeClass('active')
  $('.img-list').animate({marginLeft:`-${index * 290}px`},400,'linear')
})
var count = 0
setInterval(function(){
  index += 1
  if(index==3){
    index=0
  }
  const liList = $('.swiper-index li')
  liList.eq(index).addClass('active')
  liList.eq(index).siblings().removeClass('active')
  $('.img-list').animate({marginLeft:`-${index * 290}px`},400,'linear')
},3000)
</script>
{% endblock %}
