{% extends "./layout.html" %}
{% block content %}
  <link rel="stylesheet" href="/css/pc/chapter.css">
  <div class="content">
    <div class="title">
      <h2>
        {{ book.title }}
      </h2>
    </div>
    <div class="chapter-details">
      <!-- 左侧章列表 -->
      <div class="chapter-menu">
          {% for chapter in chapterList %}
          <div class="chapter-list">
            <!-- 章的每一项 -->
            <div class="chapter-item">
              <h3 class="chapter-title">{{chapter.dataValues.title}}</h3>
              <button class="show-section">
                <img src="/img/right_arrow.png" alt="">
              </button>
            </div>
            <!-- 节的列表 -->
            <div class="section-list">
              <ul>
                {% for section in chapter.dataValues.sectionList %}
                  <li class="section-item">
                    <h4>
                      <!-- <a href="/section/{{section.id}}" class="go-section"> -->
                        <a href="/section?section_id={{section.id}}&book_id={{book.id}}" class="go-section">
                        {{ section.dataValues.title }}
                      </a>
                    </h4>
                  </li>
                {% endfor %}
              </ul>
            </div>
          </div>
          {% endfor %}
      </div>
      <!-- 右边的书籍简介 -->
      <div class="chapter-info">
        <h5 class="info-title">
          简介
        </h5>
        <p class="info-content">
          更多功能正在开发中……
        </p>
      </div>
    </div>
  </div>
  <script src="/js/jquery.js"></script>
  <script>
    var isTrue = false
    $('.chapter-list').click(function () {
      isTrue = !isTrue 
      if(isTrue){
        $(this).find('img').attr('src','/img/bottom_arrow.png')
        $(this).find('.section-list').css('display','block')
      }else{
        $(this).find('img').attr('src','/img/right_arrow.png')
        $(this).find('.section-list').css('display','none')
      }
    })
  </script>
{% endblock %}

