<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/pc/layout.css">
    <link rel="stylesheet" href="/css/pc/common.css">
</head>
<body>
    <div class="bcgfff">
        <header>
            <div class="header-left">
                <div>
                    <h1>
                        <a href="/" class="logo">
                            晓舟科技
                        </a>
                    </h1>
                </div>
                <ul class="menu">
                    <li><a href="/">首页</a></li>
                    <li><a href="/book">学习手册</a></li>
                    <li><a href="/blog">技术博客</a></li>
                    <li><a href="/video">教学视频</a></li>
                    <li><a href="/resourse">资源下载</a></li>
                </ul>
            </div>
            <div class="header-right">
                <input type="text" class="searchInput" placeholder="请输入">
                <button class="login">
                    登录
                </button>
            </div>
        </header>
    </div>
    {% block content %} {% endblock %} {% block js %} {% endblock %}
    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script>
    </script>
</body>
</html>