{% extends './layout.html' %}
{% block title %} 
<title>大雄博客-资源分享</title>
{% endblock %}
{% set navActive = 'resourse' %}
{% block content %}
<link rel="stylesheet" href="/css/pc/resourse.css">
<div class="main">
  {% for item in resourseList %}
    <div class="resourse-item">
      <div class="item-left">
        <h4 class="resourse-title">
            {{item.title}}
        </h4>
        <div class="resourse-code">
         提取码: {{item.code}}
        </div>
      </div>
      <div class="item-right">
        <a href="{{item.url}}" target="blank">
          立即提取
        </a>
      </div>
    </div>
  {% endfor%}
</div>
{% endblock %}