{% extends "./layout.html" %}
{% block content %}
<link rel="stylesheet" href="/css/pc/section.css">
<div class="content">
    <!-- 左侧菜单部分 -->
    <div class="left-menu">
        <img src="{{book.img}}" alt="" class="book-img">
        <div class="chapter-menu">
            {% for chapter in chapterList %}
            <div class="chapter-item">
                <div class="chapter-title">
                    <button class="show-section">
                        <img src="/img/right_arrow.png" alt="">
                    </button>
                    {{chapter.title}}
                </div>
                <div class="section-list">
                    <ul>
                        {% for section in chapter.dataValues.sectionList %}
                            <li class="section-item">
                                <a href="/section?section_id={{section.id}}&book_id={{book.id}}">
                                    {{section.dataValues.title}}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <!-- 中间内容部分 -->
    <div class="center-content">
      <div class="section-title">
          <h3>
              {{section.title}}
          </h3>
      </div>
      <div class="section-content data">
        {{section.html_text | safe }}
      </div>
    </div>
    <!-- 右侧推荐书籍部分 -->
    <div class="book-list">
        <ul>
            {% for book in bookList %}
            <li class="book-item">
                <a href="/bookChapter/{{book.id}}">
                    {{book.title}}
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
<script src="/js/jquery.js"></script>
<script src="/js/swiper-bundle.min.js"></script>
<script>
    var isTrue = false
    $('.chapter-item').click(function () {
      isTrue = !isTrue 
      if(isTrue){
        $(this).find('img').attr('src','/img/bottom_arrow.png')
        $(this).find('.section-list').css('display','block')
      }else{
        $(this).find('img').attr('src','/img/right_arrow.png')
        $(this).find('.section-list').css('display','none')
      }
    })
  </script>
{% endblock %}