{% extends "./layout.html" %}
{% block content %}
<link rel="stylesheet" href="/css/pc/index.css">
<link rel="stylesheet" href="/css/pc/videolist.css">
<div class="content">
  <div class="content-header">
    <h2>{{ video.title }}</h2>
  </div>
  <div class="video-content">
    <div class="video-list">
      <ul>
        {% for item in videoList %}
        <li class="video-item">
          <a href="/videoContent/{{item.id}}">
            <span class="video-title">
              {{ item.title }}
            </span>
            <button class="go-videocontent">
              观看
            </button>
          </a>
        </li>
        {% endfor %}
      </ul>
    </div>
    <div class="video-info">
      <h4 class="info-title">
        简介
      </h4>
      <p class="info-content">
        功能正在完善中……
      </p>
    </div>
  </div>
</div>
{% endblock %}