.footer-menu{
  menu{
    ul{
      display: flex;
      li{
        flex: 1;
        justify-content: center;
        align-items: center;
        height: .9375rem;
        background-color: red;
      }
    }
  }
}