.content {
  margin-top: 60px;
  .data {
    width: 965px;
    margin-top: 10px;
    .content-list {
      box-sizing: border-box;
      padding: 20px 10px;
      width: 100%;
      height: 240px;
      background-color: #fff;
      a{
        width: 100%;
        height: 100%;
        display: block;
        .title{
          font-size: 26px;
          font-weight: 600;
          margin: 10px 0;
        }
      }
    }
  }
}