@import'../common/hclear.css';
.content{
    margin-top: 60px;
    .data{
        width: 955px;
        .title{
            width: 100%;
            height: 50px;
            padding-left: 23px;
            box-sizing: border-box;
            display: flex;
            align-items: center;
            background-color: #fff;
            font-size: 20px;
            margin-top: 10px;
        }
        .content-list{
            margin-top: 10px;
            width: 100%;
            height: 200px;
            background-color: #fff;
            a{
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                padding-left: 10px;
                .img{
                    width: 230px;
                    height: 150px;
                    background-color: red;
                    margin-right: 25px;
                    // display: flex;
                    img{
                        width: 100%;
                        height: 100%;
                    }
                }
                .introduce{
                    font-size: 18px;
                    height: 150px;
                    display: flex;
                    flex-direction: column;
                    .name{
                        margin-top: 20px;
                    }
                    .time{
                        margin-top: 20px;
                        font-size: 15px;
                        color: #808080;
                    }
                    .join{
                        width: 90px;
                        height: 40px;
                        background-color: #e3f0fc;
                        border-radius: 5px;
                        color: #0084ff;
                        margin-top: 30px;
                    }
                }
            }
        }
    }
}