.banner {
  width: 100%;
  height: 5.208333rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #313131;
  background: url('/images/back-img.svg') center center / cover no-repeat;
}
.banner .title {
  font-size: 0.520833rem;
  margin-bottom: 0.416667rem;
}
.banner .description {
  font-size: 0.364583rem;
}
.blog-main {
  display: flex;
  width: 70%;
  margin: 0 auto;
}
.blog-main .blog-container {
  flex: 9;
}
.blog-main .blog-container .blog-list-content {
  height: 0;
  background-color: red;
}
.blog-main .blog-container .blog-list-content .blog-item-box {
  position: relative;
  box-sizing: border-box;
  padding: 16px 20px;
  transition: all 0.3s;
  box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.1);
  margin: 0 auto 20px;
  font-size: 0.208333rem;
}
.blog-main .blog-container .blog-list-content .blog-item-box .blog-title {
  font-weight: bold;
  font-size: 0.3125rem;
  color: #242424;
  transition: all 0.3s;
}
.blog-main .blog-container .blog-list-content .blog-item-box .blog-title:hover {
  color: #3eaf7c;
}
.blog-main .blog-container .blog-list-content .blog-item-box .blog-info {
  color: #ccc;
  margin: 0.15625rem 0;
}
.blog-main .blog-container .blog-list-content .blog-item-box .blog-synopsis {
  color: #313131;
  margin-bottom: 0.260417rem;
  line-height: 1.5em;
}
.blog-main .blog-container .blog-list-content .blog-item-box .see-button {
  position: absolute;
  bottom: 10px;
  right: 10px;
  color: #3eaf7c;
  transition: all 0.3s;
}
.blog-main .blog-container .blog-list-content .blog-item-box .see-button:hover {
  color: green;
}
.blog-main .blog-container .blog-list-content .blog-item-box:hover {
  box-shadow: 0 2px 16px 0 rgba(0, 0, 0, 0.2);
}
.blog-main .my-info {
  color: #242424;
  flex: 3;
  height: 4.6875rem;
  margin-left: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
  padding: 0 0.208333rem;
  box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.1);
  font-size: 0.3125rem;
  transition: all 0.3s;
}
.blog-main .my-info .avatar-box {
  width: 1.041667rem;
  height: 1.041667rem;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 20px;
  margin-top: 40px;
}
.blog-main .my-info .avatar-box .avatar-photo {
  width: 100%;
  height: 100%;
}
.blog-main .my-info .avatar-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
.blog-main .my-info .avatar-info .blog-num {
  margin-bottom: 10px;
  font-size: 0.416667rem;
}
.blog-main .my-info .avatar-info .blog-text {
  font-size: 0.3125rem;
}
.blog-main .my-info:hover {
  box-shadow: 0 2px 16px 0 rgba(0, 0, 0, 0.2);
}
