.content{
  margin-top: 70px;
  .resourse-list{
    box-sizing: border-box;
    width: 100%;
    margin-top: 10px;
    ul{
      padding: 20px;
      background-color: #fff;
      .resourse-item{
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 70px;
        padding: 0 20px;
        border-bottom: 1px solid #e6e6e6;
        .item-left {
          .item-title{
            font-size: 16px;
            font-weight: 700;
          }
          .item-code{
            margin-top: 8px;
            color: #808080;
            font-size: 10px;
          }
        }
        .item-right {
          color: #0083fc;
          font-size: 12px;
        }
        .item-right:hover {
          color: red;
          font-size: 12px;
        }
      }
    }
  }
}