@import 'fontCss.css';
.content {
  margin-top: 70px;
}
.content .left-menu {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex: 3;
  padding: 10px;
  height: 400px;
}
.content .left-menu .book-img {
  height: 150px;
  margin-bottom: 10px;
}
.content .left-menu .chapter-menu {
  width: 250px;
  background-color: #fff;
}
.content .left-menu .chapter-menu .chapter-item .chapter-title {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #000;
  margin: 10px 0;
}
.content .left-menu .chapter-menu .chapter-item .chapter-title .show-section {
  margin-right: 4px;
}
.content .left-menu .chapter-menu .chapter-item .section-list {
  display: none;
}
.content .left-menu .chapter-menu .chapter-item .section-list ul {
  width: 100%;
}
.content .left-menu .chapter-menu .chapter-item .section-list ul .section-item {
  width: 90%;
  color: #7e7e7e;
  margin: 15px 35px;
}
.content .left-menu .chapter-menu .chapter-item .section-list ul .section-item a {
  display: inline-block;
  width: 100%;
  height: 100%;
}
.content .center-content {
  flex: 11;
  margin: 0 10px;
  background-color: #fff;
}
.content .center-content .section-title {
  box-sizing: border-box;
  padding: 0 30px;
}
.content .center-content .section-title h3 {
  display: flex;
  align-items: center;
  width: 100%;
  height: 52px;
  padding-left: 20px;
  border-bottom: 2px solid #e6e6e6;
  font-size: 20px;
  color: #333;
}
.content .center-content .section-content {
  box-sizing: border-box;
  width: 800px;
  padding: 20px 40px;
}
.content .book-list {
  flex: 2;
}
.content .book-list ul .book-item {
  width: 150px;
  height: 50px;
  background-color: #fff;
  border-radius: 10px;
  text-align: center;
  line-height: 50px;
  margin-bottom: 20px;
}
