.content {
  margin-top: 70px;
  display: flex;
}
.content .video-iframe {
  flex: 8;
  margin-right: 20px;
}
.content .video-iframe .video-title {
  box-sizing: border-box;
  width: 100%;
  height: 50px;
  padding-left: 30px;
  margin-bottom: 20px;
  line-height: 50px;
  background-color: #fff;
}
.content .video-iframe .video-content iframe {
  width: 100%;
  height: 550px;
}
.content .video-list {
  flex: 3;
  background-color: #fff;
}
.content .video-list .videoList-title {
  width: 100%;
  height: 50px;
  margin-bottom: 10px;
  font-size: 20px;
  color: #fff;
  text-align: center;
  line-height: 50px;
  background-color: #007aff;
}
.content .video-list .videolist-content {
  padding: 20px;
}
.content .video-list .videolist-content ul .videolist-item {
  width: 100%;
  height: 30px;
  line-height: 30px;
  color: #A7A7A7;
}
